.item {
    margin-top: 20px;
}
.item-img {
    margin-top: 15px;
}
.card-body {
    text-align: center;
}
.number {
    margin-bottom: 10px;
}
.number input {
    height: 25px;
}
.cart {
    text-align: center;
}
.main{
    background-color: #e3eaeb;
}
.cart > form > div:first-child {
    margin-bottom: 30px;
}
.pay {
    margin-top: 20px;
}
.pay-list {
    text-align: center;
    margin-bottom: 20px;;
}
.footer {
    text-align: center;
    background-color:#27a1b9;
    color: white;
}
.footer h2 {
    font-size: 16px;
    line-height: 32px;
    height: 32px;
}